<div class="container card grey lighten-3 chat-room info">
    <div class="card-body">
  
      <!-- Grid row -->
      <div class="row px-lg-2 px-2">
<!-- Grid column -->
<div class="col-sm">

    <div class="chat-message">

      <ul class="list-unstyled chat">
        <li *ngFor="let msg of messagesArray" class="d-flex justify-content-between mb-4">
          <div class="chat-body white p-3 ml-2 z-depth-1 w-100">
            <div class="header">
              <strong class="primary-font">{{msg.receiverId[0].name ? msg.receiverId[0].name : msg.senderName[0].name}}</strong>
              <small class="pull-right text-muted"><i class="far fa-clock"></i> {{msg.createdAt | date:'medium'}}</small>
            </div>
            <hr class="w-100">
            <p class="mb-0 ">
                {{msg.message}}
            </p>
          </div>
        </li>
    



      <form (ngSubmit)="onSubmit(sendMsg)" #sendMsg="ngForm">
        <li class="white">
          <div class="form-group basic-textarea">
            <textarea class="form-control pl-2 my-0" id="exampleFormControlTextarea2"
            name="message" ngModel rows="3" placeholder="Type your message here..."></textarea>
          </div>
        </li>
        <button type="submit" class="btn btn-info btn-rounded btn-sm waves-effect waves-light float-right">Send</button>
      </form>
      </ul>

    </div>

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->
</div>
</div>
