
<div class="parallax" style="height:50px; font-size:36px">
    <div class="container">
<div class="row">
    <div class="col-lg-3 pt-5"> <p class="pt-2  float-left"><i class="far fa-comment custom-icon flex ficon  "></i>
    </p><div class="tg-titlepluscounter ">
        <h2 style="color: #93648d">{{loadedCtigories[0]?.catName}}</h2>
        <h5 >{{loadedCtigories[0]?.count}}</h5>
    </div>
    </div>
    <div class="col-lg-3 pt-5"> <p class="pt-2  float-left"><i class="far fa-star flex ficon custom-icon " style=" background-color: rgb(211, 52, 12)"></i>
    </p><div class="tg-titlepluscounter ">
        <h2 style="color: rgb(211, 52, 12)">{{loadedCtigories[1]?.catName}}</h2>
        <h5 >{{loadedCtigories[1]?.count}}</h5>
    </div>
    </div>
    <div class="col-lg-3 pt-5"> <p class="pt-2  float-left">
        <i  class="fas fa-tv flex ficon custom-icon " style=" background-color: #4CC3D9"></i>
    </p><div class="tg-titlepluscounter ">
        <h2 style="color: #4CC3D9">{{loadedCtigories[2]?.catName}}</h2>
        <h5 >{{loadedCtigories[2]?.count}}</h5>
    </div>
    </div>
    <div class="col-lg-3 pt-5"> <p class="pt-2  float-left"><i style=" background-color: rgb(55, 194, 129)" class="fas fa-flask flex ficon custom-icon "></i>
    </p><div class="tg-titlepluscounter ">
        <h2 style="color: rgb(55, 194, 129)">{{loadedCtigories[3]?.catName}}</h2>
        <h5 >{{loadedCtigories[3]?.count}}</h5>
    </div>
    </div>
</div>        
    </div>
</div>