<section  class="container mt-4 mb-4">
        <div class="row d-flex justify-content-between">
                <div class="statistical1   ">
                        <div class="content1 text-center ">
                                <div class="content-statistical">
                                        <p><i class="fas fa-book"></i></p>
                                        <h2 >Books We Have</h2>
                                        <h2 >{{numOfBooks}}</h2>
                                </div>

                        </div>

                </div>
                <div class="statistical2 ">
                        <div class="content2 text-center ">
                                <div class="content-statistical">
                                        <p><i class="far fa-user"></i></p>       
                                        <h2 >Total Members</h2>
                                        <h2>{{numOfUsers}}</h2>
                                </div>

                        </div>
                </div>
                <div class="statistical3 ">
                        <div class="content3 text-center ">
                                <div class="content-statistical">
                                        <p><i class="fas fa-database"></i></p>       
                                        <h2 >Total Ads</h2>
                                        <h2 >{{numOfAds}}</h2>
                                </div>

                        </div>
                </div>
        </div>

</section>