<section class="container mt-4 mb-4">
        <div class="row title-comments pb-1 mb-2">
            <p class="">Customer Reviews</p>
            <div class="review w-100 mt-2">
                    <ng-template #t let-fill="fill">
                            <span class="star" [class.full]="fill === 100">
                                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                            </span>
                        </ng-template>
    
                        <ngb-rating [(rate)]="rateOnUser" [starTemplate]="t" [readonly]="true" max="5">
                    </ngb-rating>
                <p class=" float-right w-75 reviews">{{reviewsUser}} reviews </p>
            </div>
        </div>
    
        <div class="row all-comments clearfix">
            <div *ngFor="let comment of commentOnUser" class="comment clearfix col-12">
                <p class="comment-msg clearfix width-100">{{comment.comment}} <span>
                        <ng-template #t let-fill="fill">
                            <div class="edit-star">
                                <span class="star" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                </span></div>
                            </ng-template>
        
                            <ngb-rating [(rate)]="comment.avgRating" [starTemplate]="t" [readonly]="true" max="5">
                        </ngb-rating>
                    </span></p>
                <div class="row clearfix">
                    <p class="by-color">By :<span class="user-name">{{comment.customerId.name}}</span><span> , {{comment.createdAt | date:'medium'}}</span>
                    </p>
    
                </div>
    
            </div>
    
    
        </div>
    </section>